<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"" type="text/javascript" charset="utf-8"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>

    <title>Error: 404</title>
</head>

<body>
    <h1 class="flexHeader">Error 404</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Authentication failed when trying to access the table.</h2>
                <strong>Reason: {{error}}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="javascript:history.back()">Go Home</a>
            </div>
        </div>
    </div>
</body>

</html>